body{
    background-color: rgb(36, 1, 36);
    color: seagreen;
}

.well {
    background-color: yellow;
    color:rgb(36, 1, 36);
}

.char{
    margin-left:615px;
}
.health{
    background-color: red;
}
.exp{
    background-color: rgb(34, 153, 10);
}


img{
    position: absolute;
}
.bkGnd{
    z-index: 2;
}


.buttns{
    z-index: 10;
    padding:0;
    font-size: large;
    font-weight: 700;
}
.goNorth{  /*coords="175,25,425,125" */
    position: fixed;
    margin-left: 195px;
    margin-top: 25px;
    height:50px;
    width:200px;
    background-color: gray;
    color:black;
}
.goSouth{  /*coords="175,475,425,575" */
    position: fixed;
    margin-left: 195px;
    margin-top: 525px;
    height:50px;
    width:200px;
    background-color: gray;
    color:black;
}
.goEast{  /*coords="475,175,575,425 */
    position: fixed;
    margin-left: 525px;
    margin-top:200px;
    height:200px;
    width:50px;
    background-color: gray;
    color:black;
}
.goWest{  /*coords="475,175,575,425 */
    position: fixed;
    margin-left: 25px;
    margin-top:200px;
    height:200px;
    width:50px;
    background-color: gray;
    color:black;
}


.road{
    z-index: 4;
}
.rotate-1{
    transform: rotate(90deg);
}
.rotate-2{
    transform: rotate(180deg);
}
.rotate-3{
    transform: rotate(270deg);
}
